<%= form_with(model: user_profile, local: true) do |form| %>
  <% if user_profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user_profile.errors.count, "error") %> prohibited this user_profile from being saved:</h2>

      <ul>
      <% user_profile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label t('profile.user') %>
    <%= form.text_field :name, id: :user_profile_name %>
  </div>

  <div class="field">
    <label>男</label><%= form.radio_button :gender, "男" %> 
    <label>女</label><%= form.radio_button :gender, "女" %> 
  </div>

  <div class="field">
    <%= form.label t('profile.age') %>
    <%= form.text_field :age, id: :user_profile_age %>
  </div>

  <div class="field">
    <%= form.label t('profile.language') %>
    <%= form.text_field :language, id: :user_profile_language %>
  </div>

  <div class="field">
    <%= form.label t('profile.db') %>
    <%= form.text_field :db, id: :user_profile_db %>
  </div>

  <div class="field">
    <%= form.label t('profile.fw') %>
    <%= form.text_field :fw, id: :user_profile_fw %>
  </div>

  <div class="field">
    <%= form.label t('profile.tools') %>
    <%= form.text_field :tools, id: :user_profile_tools %>
  </div>

  <div class="field">
    <%= form.label t('profile.server') %>
    <%= form.text_field :server, id: :user_profile_server %>
  </div>

  <div class="field">
    <%= form.label t('profile.developer_experience') %>
    <label>有</label><%= form.radio_button :developer_experience, "true" %>
    <label>無</label><%= form.radio_button :developer_experience, "false" %>
    <label>
  </div>
 
  <div class="field">
    <%= form.label t('profile.operater_experience') %>
    <label>有</label><%= form.radio_button :operater_experience, "true" %>
    <label>無</label><%= form.radio_button :operater_experience, "false" %>
  </div>

  <div class="field">
    <%= form.label t('profile.tester_experience') %>
    <label>有</label><%= form.radio_button :tester_experience, "true" %>
    <label>無</label><%= form.radio_button :tester_experience, "false" %>
  </div>

  <div class="field">
    <%= form.label t('profile.basic_design_experience') %>
    <label>有</label><%= form.radio_button :basic_design_experience, "true" %>
    <label>無</label><%= form.radio_button :basic_design_experience, "false" %>
  </div>

  <div class="field">
    <%= form.label t('profile.detail_design_experience') %>
    <label>有</label><%= form.radio_button :detail_design_experience, "true" %>
    <label>無</label><%= form.radio_button :detail_design_experience, "false" %>
  </div>

  <div class="field">
    <%= form.label t('profile.test_design_experience') %>
    <label>有</label><%= form.radio_button :test_design_experience, "true" %>
    <label>無</label><%= form.radio_button :test_design_experience, "false" %>
  </div>

  <div class="field">
    <%= form.label t('profile.appeal_text') %>
    <%= form.text_field :appeal_text, id: :user_profile_appeal_text %>
  </div>

  <div class="field">
    <%= form.label t('profile.qualification') %>
    <%= form.text_field :qualification, id: :user_profile_qualification %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
