<p id="notice"><%= notice %></p>

<h1>User Profiles</h1>
  <tbody>
    <% @user_profiles.each do |user_profile| %>
      <tr>
        <td><%= user_profile.name %></td>
        <td><%= link_to 'Show', user_profile %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New User Profile', new_user_profile_path %>

<div class="logout">
  <%= link_to 'LOGOUT', destroy_user_session_path, method: :delete %>
</div>

