<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @user_profile.user_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @user_profile.name %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @user_profile.gender %>
</p>

<p>
  <strong>Age:</strong>
  <%= @user_profile.age %>
</p>

<p>
  <strong>Language:</strong>
  <%= @user_profile.language %>
</p>

<p>
  <strong>Db:</strong>
  <%= @user_profile.db %>
</p>

<p>
  <strong>Fw:</strong>
  <%= @user_profile.fw %>
</p>

<p>
  <strong>Tools:</strong>
  <%= @user_profile.tools %>
</p>

<p>
  <strong>Server:</strong>
  <%= @user_profile.server %>
</p>

<p>
  <strong>Developer experience:</strong>
  <%= @user_profile.developer_experience %>
</p>

<p>
  <strong>Operater experience:</strong>
  <%= @user_profile.operater_experience %>
</p>

<p>
  <strong>Tester experience:</strong>
  <%= @user_profile.tester_experience %>
</p>

<p>
  <strong>Basic design experience:</strong>
  <%= @user_profile.basic_design_experience %>
</p>

<p>
  <strong>Details design experience:</strong>
  <%= @user_profile.details_design_experience %>
</p>

<p>
  <strong>Test design experience:</strong>
  <%= @user_profile.test_design_experience %>
</p>

<p>
  <strong>Appeal text:</strong>
  <%= @user_profile.appeal_text %>
</p>

<p>
  <strong>Qualification:</strong>
  <%= @user_profile.qualification %>
</p>

<%= link_to 'Edit', edit_user_profile_path(@user_profile) %> |
<%= link_to 'Back', user_profiles_path %>
