<p id="notice"><%= notice %></p>

<%= image_tag @comment.image.variant(resize: "300x300") if @comment.present? %>

<p>
  <strong><%= t('profile.user')  %></strong>
  <%= @user_profile.name %>
</p>

<p>
  <strong><%= t('profile.gender')  %></strong>
  <%= @user_profile.gender %>
</p>

<p>
  <strong><%= t('profile.age')  %></strong>
  <%= @user_profile.age %>
</p>

<p>
  <strong><%= t('profile.language')  %></strong>
  <%= @user_profile.language %>
</p>

<p>
  <strong><%= t('profile.db')  %></strong>
  <%= @user_profile.db %>
</p>

<p>
  <strong><%= t('profile.fw')  %></strong>
  <%= @user_profile.fw %>
</p>

<p>
  <strong><%= t('profile.tools')  %></strong>
  <%= @user_profile.tools %>
</p>

<p>
  <strong><%= t('profile.server')  %></strong>
  <%= @user_profile.server %>
</p>

<p>
  <strong><%= t('profile.developer_experience')  %></strong>
  <%= @user_profile.developer_experience %>
</p>

<p>
  <strong><%= t('profile.developer_experience')  %></strong>
  <%= @user_profile.operater_experience %>
</p>

<p>
  <strong><%= t('profile.operater_experience') %></strong>
  <%= @user_profile.tester_experience %>
</p>

<p>
  <strong><%= t('profile.tester_experience')  %></strong>
  <%= @user_profile.basic_design_experience %>
</p>


<p>
  <strong><%= t('profile.basic_design_experience')  %></strong>
  <%= @user_profile.details_design_experience %>
</p>

<p>
  <strong><%= t('profile.detail_design_experience')  %></strong>
  <%= @user_profile.test_design_experience %>
</p>

<p>
  <strong><%= t('profile.appeal_text') %></strong>
  <%= @user_profile.appeal_text %>
</p>

<p>
  <strong><%= t('profile.qualification') %></strong>
  <%= @user_profile.qualification %>
</p>

<%= link_to 'Back', user_profiles_path %><br>

<% if current_user.id == params[:id].to_i %>
  <%= link_to 'プロフィール編集', edit_user_profile_path(params[:id]) %>
<% end %>

<% if current_user.id == params[:id].to_i %>
  <%= link_to 'プロフィール画像編集', edit_comment_path(params[:id]) %>
<% end %>
