<%= form_with(model: novel_product, local: true) do |form| %>
  <% if novel_product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(novel_product.errors.count, "error") %> prohibited this novel_product from being saved:</h2>
      <ul>
      <% novel_product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% form_for(@novel_product) do |f| %>
    <div class="field">
      <%= f.label :user_id %><br />
      <%= f.text_field :user_id, size: 25 %>
    </div>  

    <div class="actions">
      <%= form.submit %>
    </div>
  <% end %>
<% end %>
