<p id="notice"><%= notice %></p>

<h1>Novel Products</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @novel_products.each do |novel_product| %>
      <tr>
        <td><%= link_to 'マイページ', novel_product %></td>
        <td><%= link_to 'マイページ編集', edit_novel_product_path(novel_product) %></td>
        <td><%= link_to 'マイページ削除', novel_product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'マイページ作成', new_novel_product_path %>
